body {
    background-color:#52B3D9;
}

.airplane {
    position: absolute;
    width: 228px;
    height: 228px;
    background-size: contain;
    background-image: url("svg/plane.png");
    animation: airplane 15s infinite;
}

@keyframes airplane {
    0% {top: 40%; left:20%;}
    25% {top: 55%; left:40%;}
    75% {top:30%; left:60%;}
    100% {top:40%; left:80%;}
}



