
div.carGround {
    animation-name: backGround;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: linear; /*ease-in-out*/
    width: 842px;
    height: 228px;
    background: url("task-1/city.png") repeat-x;
    background-size: contain;
    margin: auto;
    position: relative;
    top: 25vh;
    border: 1px solid blue;
}

div.carGround::before {
    content: url("task-1/Car.png");
    background-size: 20% 40%;
    position: absolute;
    top: 57%;
    animation-name: carAnim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;

}

div span.left, div span.right {
    animation-name: weels;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background: url("task-1/Wheel.png") no-repeat;
    background-size: contain;
    bottom: 2.5%;

}

div.carGround::after {
    content: '';
    display: block;
    position: absolute;
    animation-name: gasAnim;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;

}

div span.left {
    margin-left: 2.5%;

}

div span.right {
    margin-left: 17.7%;
}

@keyframes gasAnim {
    50% {
        content: '';
    }
    55% {
        content: '';
        width: 35px;
        height: 25px;
        background: url("task-1/Gas_1.png") no-repeat;
        background-size: contain;
        left: 35%;
        top: 70%;
    }
    59% {
        content: '';
        width: 40px;
        height: 30px;
        background: url("task-1/Gas_2.png") no-repeat;
        background-size: contain;
        left: 30%;
        top: 60%;
    }
    63% {
        content: '';
        width: 45px;
        height: 35px;
        background: url("task-1/Gas_3.png") no-repeat;
        background-size: contain;
        left: 25%;
        top: 50%;
    }
    67% {
        content: '';
        position: absolute;
        width: 70px;
        height: 60px;
        background: url("task-1/Gas_4.png") no-repeat;
        background-size: contain;
        left: 20%;
        top: 30%;
    }
    69% {
        visibility: hidden;
    }

}

@keyframes backGround {
    0% {
        background-position: 0;
    }

    100% {
        background-position: -842px;
    }
}

@keyframes carAnim {
    0% {
        left: 0;
    }
    100% {
        left: 75%;
    }

}

@keyframes weels {
    0% {
        left: 0;
    }
    100% {
        left: 75%;
        transform: skewX(-10deg) rotate(720deg);
    }

}