.container {
    width: 2040px;
    height: 604px;
    background: url('task-4/header-bg.png') no-repeat;
    background-size: cover;
    position: relative;
    margin: auto;
    top: 20%;
}

html, body {
    height: 100%;
}

.container::before {

    content: '';
    position: absolute;
    background: url('task-4/header-ppls.png') no-repeat;
    background-size: contain;
    width: 900px;
    height: 500px;
    top: 100px;
    left: 29%;
    z-index: 100;
}

.container span {
    display: inline-block;
    position: absolute;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;

}

.container .coffe {
    background: url('task-4/hand-coffe.png') no-repeat;
    width: 63px;
    height: 93px;
    top: 39.2%;
    left: 34.8%;
    background-size: contain;
    z-index: 50;
    animation-name: coffeAnim;
}

.container .head {
    background: url('task-4/head-blue.png') no-repeat;
    width: 63px;
    height: 93px;
    top: 9.8%;
    left: 42.6%;
    background-size: contain;
    z-index: 50;
    animation-name: head_1_Anim;

}

.container .sheet {
    background: url('task-4/notebook.png') no-repeat;
    width: 43px;
    height: 53px;
    top: 37.4%;
    left: 38.1%;
    background-size: contain;
    z-index: 50;
    animation-name: sheetAnim;
}

.container .womanHand {
    background: url('task-4/hand-girl.png') no-repeat;
    width: 63px;
    height: 93px;
    top: 30%;
    left: 49.3%;
    background-size: contain;
    z-index: 50;
    animation-name: womanHandAnim;
}

.container .leftHand {
    background: url('task-4/hand-left-green.png') no-repeat;
    width: 63px;
    height: 93px;
    top: 41.5%;
    left: 49.7%;
    background-size: contain;
    z-index: 50;
    animation-name: leftHand;
}

.container .rightHand {
    background: url('task-4/hand-right-green.png') no-repeat;
    width: 63px;
    height: 93px;
    top: 41%;
    left: 44.7%;
    background-size: contain;
    z-index: 50;
    animation-name: rightHand;
    animation-timing-function: linear;
}

.container .handRed {
    background: url('task-4/hand-red.png') no-repeat;
    width: 63px;
    height: 93px;
    top: 41%;
    left: 57.1%;
    background-size: contain;
    z-index: 50;
    animation-name: handRedAnim;
}

.container .headRed {
    background: url('task-4/head-red.png') no-repeat;
    width: 63px;
    height: 73px;
    top: 30.2%;
    left: 59.3%;
    background-size: contain;
    z-index: 150;
    animation-name: headRedAnim;
}

.container .leg {
    background: url('task-4/leg.png') no-repeat;
    width: 83px;
    height: 140px;
    top: 63%;
    left: 66.8%;
    background-size: contain;
    z-index: 50;
    animation-name: legAnim;
}

.container .handCode1 {
    background: url('task-4/hand-headphones.png') no-repeat;
    width: 85px;
    height: 70px;
    top: 52.5%;
    left: 66.2%;
    background-size: contain;
    z-index: 51;
    transform: rotate(1deg);
    animation-name: handCode1Anim;
    animation-timing-function: ease-in-out;
}

.container .handCode2 {
    background: url('task-4/hand-headphones.png') no-repeat;
    width: 85px;
    height: 70px;
    top: 50.5%;
    left: 65.9%;
    background-size: contain;
    z-index: 50;
    transform: rotate(14deg);
    animation-name: handCode2Anim;
    animation-timing-function: ease-in-out;
}

@keyframes coffeAnim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        left: 34%;
        top: 38.4%;
        transform: rotate(-15deg);
    }
}

@keyframes head_1_Anim {
    0% {
        transform: rotate(10deg);
    }
    100% {
        top: 9.8%;
        left: 42.6%;
        transform: rotate(-15deg);
    }
}

@keyframes sheetAnim {
    0% {
        transform: rotateY(0deg) skewY(0deg);
    }
    100% {
        top: 37.4%;
        left: 38.1%;
        transform: rotateY(-45deg) skewY(-15deg);
    }
}

@keyframes womanHandAnim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        top: 30%;
        left: 49.3%;
        transform-origin: 100% 0;
        transform: rotate(3deg) skewX(-5deg);
    }
}

@keyframes leftHand {
    0% {
        transform: rotateY(0deg) skewX(0);
    }
    50% {
        transform: translate(-2px, -4px) skewX(1deg);
    }
}

@keyframes rightHand {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: translate(2px, -3px) skewX(-1deg);
    }
    75% {
        transform: rotateY(0deg) skewX(0);
    }
    100% {
        transform: translate(2px, -3px) skewX(-1deg);
    }
}

@keyframes handRedAnim {
    0% {
        transform: rotate(0deg) skewX(0);
    }
    50% {
        transform: rotate(2deg) translate(-2px, 0) skewX(-3deg);
    }
}

@keyframes headRedAnim {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-6deg) rotateX(-15deg);
    }
}

@keyframes handCode1Anim {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform-origin: 100% 0;
        transform: rotate(9deg);
    }
    67% {
        transform: rotate(0deg);
    }
    100% {
        transform-origin: 100% 0;
        transform: rotate(9deg);
    }
}

@keyframes handCode2Anim {
    0% {
        transform: rotate(14deg) translate(0, 0);
    }
    33% {
        transform-origin: 100% 0;
        transform: rotate(-3deg) translate(0, 10px);
    }
    50% {
        transform-origin: 100% 0;
        transform: rotate(10deg) translate(0, 10px);
    }
    67% {
        transform-origin: 100% 0;
        transform: rotate(14deg) translate(0, 10px);
    }
    100% {
        transform-origin: 100% 0;
        transform: rotate(-3deg) translate(0, 10px);
    }
}

@keyframes legAnim {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-15px, 0) rotate(10deg);
    }
}