html, body {
    margin: 0;
    padding: 0;
    background: #807e69;
}

.circle-menu {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 50px auto;
    background: white;
    box-shadow: 0 0 3px #ccc;
}

.circle-menu ul {
    position: absolute;
    width: 300px;
    height: 300px;
    margin: 50px;
    padding: 0;
    list-style: none;
    border-radius: 50%;
    overflow: hidden;
}

.circle-menu .center {
    position: absolute;
    top: 195px;
    left: 195px;
    z-index: 1000;
    border: 5px solid #34495e;
    border-radius: 50%;
}

.circle-menu li {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 160px;
    height: 160px;
    transform-origin: 100% 100%;
    overflow: hidden;
}

.circle-menu li:nth-child(1) {
    transform: rotate(0deg) skew(30deg);
}

.circle-menu li:nth-child(2) {
    transform: rotate(60deg) skew(30deg);
}

.circle-menu li:nth-child(3) {
    transform: rotate(120deg) skew(30deg);
}

.circle-menu li a {
    display: block;
    width: 160px;
    height: 160px;
    margin-top: 40px;
    margin-left: 40px;
    background: rgba(241, 196, 15, 0.5) url('task-3/screen.png') no-repeat 50% 40%;
    transform: skew(-30deg) rotate(-60deg);
    transition: background-color 0.5s;
}

.circle-menu li:nth-child(even) a {
    background-color: rgba(241, 196, 15, 0.75);
}

.circle-menu li a:hover {
    background-color: rgba(241, 196, 15, 1);
}

.circle-menu li:nth-child(1) a {
    background-image: url('task-3/screen.png');
}

.circle-menu li:nth-child(2) a {
    background-image: url('task-3/circle.png');
}

.circle-menu li:nth-child(3) a {
    background-image: url('task-3/waves.png');
}
