input[type="text"] {
     border: none;
     border-bottom: 2px solid black;
 }

body {
    color: gray;
}

div > div {
    transform: translate(0, -25px);
}

.main {
    display: inline-block;
    transform: translate(0, 15px);
}

.main > input[type="text"]:focus + div {
    font-size: 12px;
    transform: translate(0, -35px);
}