.navbar{
    font-weight: 500;
    font-size: 12px;
    padding-left: 20%;
    margin-bottom: -20px;
    margin-top: -20px;
}
li{
    padding:15px;
}
.navbar-headerbar{
    background: #e9f8ff;
    color: black;
    border-bottom:  5px solid #e4b861;
    margin-bottom: -190px;
}
.logo{
    padding-left: 42%;
}
.logo1{
    height: 11%;
    width: 11%;
}

#headerwrap{
    background: url("fly.png") no-repeat center top;
    margin-top: 190px;
    padding-top:20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 400px;
    width:100%;
    background-size:100%;
    background-size: cover;
    border-bottom:  5px solid #e4b861;
}
hr{
    margin-top: 35px;
}

.col-mysize{
    margin-right: 10%;
}

.card{
    padding: 10px;
}

.with-line{
    border-bottom:  5px solid #e4b861;
}

.col-lg-3{
    margin-bottom: 40px;
}

.col-lg-custom-1{
    width: 25.5%
}

.col-lg-custom-2{
    width: 30%
}

.btn{
    width: 8%;
}

.important{
    margin: 0 auto;
}

body{
    font-family: 'Raleway', sans-serif;
}

footer{
    background-color:#81816f;
    padding: 0px 0px;
}

footer ul{
    list-style:none;
    margin:0 auto;
    display:inline-block;
    padding-top: 50px;
    margin-left: 0vw;
}

footer ul li{
    float:left;
}

footer ul li a{
    color:#b1aca1;
    padding:20px;
}

footer ul li a:hover{
    color:#7dabdb;
    text-decoration:none;
}


.copyright{
    background-color:#f0f0f0;
}

.copyright p{
    font-size:12px;
    padding:15px 0 10px 0;
}

.colored{
    background-color: #f3f3f3;
}