* {
    margin: 0;
    padding: 0;
}


html, body {
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-family: 'Montserrat';
    background-color: #ebebeb;
}

.container header nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    height: 8vw;
    background-color: #3C3C3C;
    z-index: 10;
}

.container header nav ul.mainUl {
    display: flex;
    flex-basis: 60%;
    justify-content: space-between;
    margin-left: 5%;
}

.container header nav .button_nav {
    display: none;
    background-color: #202529;
    width: 9%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.container .hiden li {
    width: 100%;
    margin-left: 10%;
    list-style: none;
}

.container .hiden li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.container .hiden li a:hover {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.container header nav .button_nav img {
    position: absolute;
    left: 33%;
    top: 35%;
    width: 3.5vw;
}

.container header nav ul.mainUl li {
    display: inline-block;
}

.container header nav ul.mainUl li a {
    text-decoration: none;
    color: white;
}

.container header div.head {
    height: 57vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(270deg, #088fa8 0%, #0a98b0 20%, #0ca2b8 40%, #13acc0 60%, #16b2c4 80%, #19b4c6 100%);
}

.container header div.head div.all_Inform {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-sizing: content-box;
    margin-left: 8%;
    height: 48%;
    margin-top: 13%;
}

#R {
    display: none;
}

.container header div.head .for_logo {
    font-size: 6vw;
    color: white;
    width: 90%;
}

.container header div.head .for_site {
    position: relative;
}

.container main {
    height: auto;
}

.container main div.citations {
    display: flex;
    height: 24.5vw;
}

.container main div.citations .cite {
    height: 100%;
    flex-basis: 77.63%;
    font-size: 3vw;
    background-color: #27212c;
    color: #9685a4;
    display: flex;
    align-items: center;
}

.container main div.citations .cite .direct_cite {
    margin-left: 10%;
}

.container main div.citations a {
    position: relative;
    display: block;
    background-color: #bc3183;
    height: 100%;
    flex-basis: 22.37%;
}

.pointerBig::after {
    content: '';
    display: block;
    height: 2vw;
    width: 2vw;
    border-right: 0.6vw solid white;
    border-top: 0.6vw solid white;
    border-radius: 0.6vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: rotate(45deg) translate(-2vw);
}

.point {
    display: block;
    position: relative;
    bottom: 35%;
    font-size: 3.5vw;
    color: #a8d4de;
    text-decoration: none;

}

.hidden {
    display: none;
}

.pointerSmall::after {
    content: '';
    display: inline-block;
    height: 1.6vw;
    width: 1.6vw;
    border-right: 0.5vw solid white;
    border-top: 0.5vw solid white;
    border-radius: 0.5vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: rotate(45deg) translate(-2vw);
}

.pointerHead::after {
    content: '';
    display: inline-block;
    height: 1.6vw;
    width: 1.6vw;
    border-right: 0.5vw solid white;
    border-top: 0.5vw solid white;
    border-radius: 0.5vw;
    position: absolute;
    right: 22.5%;
    top: 50%;
    transform: rotate(45deg) translate(-2vw);
}

.container main div.gallery {
    display: flex;
    height: 28.5vw;
    width: 100%;
}

.container main div.gallery a, .container main div.gallery div {
    width: 33.33%;
}

.container main div.gallery a {
    position: relative;
    background-color: #5b0fa1;
}

.container main div.gallery .picture img {
    height: 100%;
    width: 100%;
}

.container main section.information {
    height: auto;
    padding: 5% 7% 7% 7%;
    box-sizing: border-box;;
}

.container main section.information h3 {
    font-size: 1.14em;
    font-weight: normal;
    color: #088ca5;
}

.container main section.information .text {
    display: flex;
    font-size: 0.58em;
    line-height: 1.9;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container main section.information .text .column {
    display: inline-flex;
    flex-flow: column nowrap;
    width: 45.5%;
    height: auto;
}

.container main section.information .text .column p {
    margin-top: 5%;
}

@media screen and (max-width: 640px) {
    .container main div.gallery {
        flex-direction: column;
    }

    .container main div.gallery a, .container main div.gallery div {
        height: 33.33%;
        width: auto;
    }

    .container main div.gallery a {
        height: 33%;
    }

    .container main div.gallery {
        height: 255vw;
    }

    .pointerSmall::after {
        content: '';
        display: block;
        height: 5vw;
        width: 5vw;
        border-right: 1.5vw solid white;
        border-top: 1.5vw solid white;
        border-radius: 1.5vw;
        position: relative;
        left: 50%;
        top: 50%;
        transform: rotate(45deg) translate(-5vw);
    }

    .container main section.information .text {
        flex-direction: column;
        font-size: 3.39vw;
    }

    .container main section.information .text .column {
        width: 100%;
    }

    .container main section.information {
        padding: 7% 10% 7% 10%;
    }

    .container main section.information h3 {
        font-size: 4.9vw;
    }

    .container header nav ul.mainUl {
        display: none;
    }

    .container header nav::before {
        content: 'Navigation';
        font-size: 3vw;
        color: white;
        margin-left: 5%;
    }

    .container header nav .button_nav {
        display: block;
    }

    .container main div.citations .cite {
        font-size: 3.3vw;
    }

    .container header div.head {
        height: 77vw;
    }

    .hiden {
        position: absolute;
        width: 100%;
        height: 20vw;
        right: 0;
        top: 8vw;
        background: brown;
        display: flex;
        color: black;
        justify-content: center;
        align-items: center;
    }

    #R {
        display: none;
        flex-direction: column;
        background-color: #120729;
        padding: 5%;
        font-size: 3.5vw;
    }
}