body,
.container .main_nav ul {
    margin: 0;
    padding: 0;
}

header {
    width: 1100px;
    height: 146px;
}

*{
    font-family: "Calibri";
}

.container main > div.products form input[type="submit"],
.container aside div ul > li a {
    font-family: "Tahoma";
}

.my_shop .net_shop, .my_shop .logo,
.contact_inform .contact_numb_text,
.contact_inform .contact_numb {
    text-align: center;
    color: #F2FAE4;
    line-height: 1.2;
    position: absolute;
}

.my_shop .logo {
    font-size: 39.43px;
    left: 102.575px;
    top: 36.843px;
    -webkit-transform: skewX(10deg);
}

.my_shop .net_shop {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    left: 100.876px;
    top: 74.72px;
    -webkit-transform: skewX(10deg);
}

.contact_inform .contact_numb_text {
    font-size: 16px;
    left: 861px;
    top: 44.345px;
}

.contact_inform .contact_numb {
    font-size: 20px;
    left: 861px;
    top: 59.682px;
}

.main_nav {
    background-image: url("images/nav.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 101px;
    top: 118px;
    height: 52px;
    width: 900px;
    z-index: 1;
}

.container {
    width: 1100px;
    height: 1030px;
    background-color: #f5f7f4;
    position: relative;
    margin: auto;
}

.container .main_nav ul > li, .container .main_nav ul > li:first-child {
    list-style: none;
    display: inline-block;
}

.container .main_nav ul > li {
    padding: 15.8px 12.75px 0 13.8px;
    height: 37px;
}

.container .main_nav ul > li:first-child {
    padding: 15.8px 12.75px 0 20.7px;
    height: 37.5px;
    border-radius: 7px 0 0 8.5px;
}

.container .main_nav ul > li:hover:not(.basket) {
    background-color: #728C29;
    cursor: pointer;
}

.container .main_nav ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 12.7px;
}

.container .main_nav .basket {
    position: relative;
    top: -1px;
    padding: 5px;
    width: 78px;
    height: 21px;
    border-radius: 14.5px;
    margin-left: 301px;
    background-color: white;
}

.container .main_nav .basket a::before {
    width: 18px;
    height: 14px;
    position: relative;
    content: url("images/basket.png");
    top: 2px;
    left: -3px;
}

.container .main_nav ul > .basket a {
    position: relative;
    top: 3px;
    font-size: 14px;
    margin-left: 6px;
    text-align: right;
    color: #83a03c;
}

.container main > div.products {
    display: inline-block;
    width: 150px;
    height: 276px;
    border: 1px solid #F4F4F4;
    background-color: white;
    border-radius: 12px;
    margin: 3px 7px 9px 7px;
}

.container main figure {
    padding: 7px 4px 0 4px;
    margin: 0;
}

.container main > div.products .specifics {
    font-size: 11px;
    line-height: 13.5px;
}

.container main > div.products .type {
    display: block;
    padding: 5px 0 2px 0;
    font-size: 12.9px;
    color: #5f702c;
    text-align: center;
}

.container main > div.products .price {
    display: inline-block;
    padding: 2px 0 2px 0;
    position: relative;
    left: 43px;
    font-size: 14.5px;
    color: #5f702c;
    text-align: center;
    font-weight: bold;
}

.container main > div.products img {
    display: block;
    margin: auto;
}

.container main > div.products form {
    text-align: center;
}

.container main > div.products form input[type="submit"] {
    width: 120px;
    height: 35px;
    background-color: rgb(240, 240, 240);
    border-radius: 100px;
    border: 3px solid #87aa37;
    border-top: 2.5px solid #87aa37;
    font-size: 13px;
    padding-right: 2px;
    margin-top: 2px;
}

.container main > div.products form input[type="submit"]:hover {
    cursor: pointer;
}

.container main {
    position: relative;
    float: left;
    width: 686px;
    margin-left: 10px;
    margin-top: 52px;
    top: 33px;
}

.container header {
    background: url("images/background.png") no-repeat 0 0;
    z-index: 220;
}

.container aside {
    position: relative;
    top: -35px;
    float: left;
    width: 189px;
    margin-top: 52px;
}

.container aside > .cathegories {
    background-image: url("images/cathegories.png");
    background-repeat: no-repeat;
}

.container aside div ul {
    position: relative;
    top: 44px;
    padding-left: 4.5px;
}

.container aside div ul > li {
    border-bottom: 1px solid #ededed;
    list-style: none;
    height: 21px;
}

.container aside div ul > li a {
    color: #b4b4b4;
    text-decoration: none;
    font-size: 12px;
    vertical-align: middle;
    padding-left: 1px;
}

.container aside div ul > li a::before {
    position: relative;
    width: 14px;
    height: 14px;
    content: url("images/pointer.png");
    vertical-align: middle;
    left: -4px;
    top: 2px;
}

.container aside div ul::after {
    position: relative;
    content: url("images/cathegories_after.png");
    top: 6px;
}

.container aside > .shares {
    background-image: url("images/actions.png");
    background-repeat: no-repeat;
    position: relative;
    top: 22px;
    font-size: 11px;
    padding: 5px;
}

.container aside div div {
    position: relative;
    top: 44px;
    padding: 5px 7px 12px 10px;
    margin-bottom: 7px;
    border-radius: 10px;
}

.container aside .shares div .head_action {
    color: #768f38;
    margin-bottom: 12px;
}

.container aside .shares .action_1 {
    background-color: #fff8d8;
}

.container aside .shares .action_2 {
    background-color: #eeffd8;
    padding-bottom: 8px;
}

.container aside .shares .action_3 {
    padding: 6px 7px 12px 10px;
    background-color: #d7fffd;
}

.container aside > .shares div .head_action {
    display: block;
    font-weight: bold;
}

.container div.content {
    position: relative;
    width: 900px;
    height: 830px;
    left: 101px;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 0 2px 2px #e9e9e9;
}

.container aside .shares div a {
    display: inline-block;
    margin-left: 3.5px;
    text-decoration: none;
    color: #768f38
}

.container main .pages ul > li {
    width: 18px;
    height: 18px;
    background: linear-gradient(to top, #90ad3a, #bdd272);
    border: 1px solid #9bb84d;
    display: inline-block;
    list-style: none;
    border-radius: 4px;
    text-align: center;
    padding-bottom: 2px;
}

.container main .pages {
    position: relative;
    width: 662px;
    height: 28px;
    margin-left: 6px;
    margin-top: 9px;
    border: 0.5px solid white;
    border-radius: 20px;
    background-color: white;
}

.container main .pages ul {
    margin: 0;
    padding-top: 4px;
    padding-left: 13px;
    display: inline-block;
}

.container main .pages ul > li a {
    text-decoration: none;
    color: white;
    font-size: 11.5px;
}

.container main .pages .backward_forward {
    display: inline-block;
    position: absolute;
    right: 14px;
    top: 4px
}

.container main .pages .backward_forward a {
    text-decoration: none;
    font-size: 13px;
}

.container main .pages .backward_forward .backward {
    color: #80934e;
    margin-right: 11px;
}

.container main .pages .backward_forward .forward {
    color: #707070;
}

.container main .pages ul > li:hover {
    cursor: pointer;
}

.container div.clear {
    content: " ";
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}

.container footer {
    margin-top: 54px;
    height: 81px;
    font-size: 10.9px;
}

.container footer div {
    display: inline-block;
}

.container footer .info_1 > ul {
    padding-left: 18px;
}

.container footer .info_2 > ul, .container footer .info_3 > ul {
    position: relative;
    top: -3px;
    padding-left: 26px;
}

.container footer div li {
    list-style: none;
}

.container footer div ul > li > ul li.vk {
    background-position: 0 0;
}

.container footer div ul > li > ul li.facebook {
    background-position: -30px 0;
}

.container footer div ul > li > ul li.twitter {
    background-position: -60px 0;
}

.container footer div ul > li > ul li {
    background-image: url("images/social_net.png");
    width: 21px;
    height: 23px;
    display: inline-block;
    margin-right: 6px;
}

.container footer div ul > li > ul li:hover {
    cursor: pointer;
}

.container footer div ul > li > ul {
    position: relative;
    bottom: -2px;
    padding-left: 0;
    margin-top: 0;
}

.container footer div a {
    color: #666666;
    text-decoration: none;
}

.container footer div span.green_text {
    color: #a4b970;
}

.container footer span.design {
    color: #c8c8c8;
    position: absolute;
    right: 14px;
    bottom: 13px;
    font-size: 11px;
}

.container footer .blocks div.block {
    background-color: #c4c4c4;
    width: 88px;
    height: 32px;
    margin-right: 10px;
    position: relative;
    bottom: 13px;
}

.container footer .blocks div.block:first-child {
    margin-left: 148px;
}