body {
    font-family: "PT Sans", sans-serif;
    font-size: 1em;
    color: gray;
    font-weight: 600;
    background: url(layout_4/wolfenstein.jpg) no-repeat;
    background-size: 100%  100%;
    margin: 0; /* Убираем отступы */
}

h1 {
    font-size: 36px; /* Размер шрифта */
    margin: 0; /* Убираем отступы */
    color: white; /* Цвет текста */
}

h2 {
    margin-top: 0; /* Убираем отступ сверху */
    color: whitesmoke;
}

#header { /* Верхний блок */
    background-color: orangered; /* Цвет фона */
    padding: 2vw; /* Поля вокруг текста */
}

#sidebar { /* Левая колонка */
    float: left; /* Обтекание справа */
    width: 8vw; /* Ширина колонки */
    padding: 5vw; /* Поля вокруг текста */
    margin: 10px 10px 20px 5px; /* Значения отступов */
}

#sidebar a {
    color: #FF4500; /* Цвет ссылок */
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

#sidebar a:hover {
    color: #FFA500; /* Цвет ссылок */
}

#content { /* Правая колонка */
    margin: 10px 5px 60px 25vw; /* Значения отступов */
    padding: 5px; /* Поля вокруг текста */
}

#footer { /* Нижний блок */
    background-color: #333; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    color: #fff; /* Цвет текста */
    clear: left; /* Отменяем действие float */
}
