body {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    color: #2F4F4F;
    background-color: rgba(33, 37, 37, 0.35);
    margin: 0; /* Убираем отступы */
}

h2 {
    font-size: 18px; /* Размер шрифта */
    color: #081025; /* Цвет текста */
    margin-bottom: 0; /* Отступ снизу */
}

#container {
    width: 850px; /* Ширина макета */
    margin: 0 auto; /* Выравниваем по центру */
    position: relative; /* Относительное позиционирование */
}

#header {
    background-color: #081025; /* Цвет фона */
    font-size: 24pt; /* Размер текста */
    font-weight: bold; /* Жирное начертание */
    color: #edeed5; /* Цвет текста */
    padding: 5px; /* Отступы вокруг текста */
    text-align: center; /* Выравнивание по центру */
}

#content {
    margin-right: 130px; /* Отступ справа */
    padding: 10px; /* Поля вокруг текста */
    border-right: 1px solid #081425; /* Линия справа */
    background-color: #8B7E66; /* Цвет фона левой колонки */
    text-align: center;
}

#content p {
    margin-top: 0.3em /* Отступ сверху */
}

#sidebar {
    position: absolute; /* Абсолютное позиционирование */
    right: 0; /* Положение от правого края */
    top: 60px; /* Положение от верхнего края */
    width: 120px; /* Ширина */
}

#sidebar a {
    color: #8B4726; /* Цвет ссылок */
    text-decoration: none;
}

#sidebar a:hover {
    color: #8B7355; /* Цвет ссылок */
}

#footer {
    background-color: #081025; /* Цвет фона */
    color: #edeed5; /* Цвет текста */
    padding: 5px; /* Отступы вокруг текста */
}

img {
    border-radius: 10px;
}