body {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    color: #2F4F4F;
    background: linear-gradient(45deg, #7aeec6, #2ce82e);
}

h2 {
    font-size: 16px; /* Размер шрифта */
    color: #2F4F4F; /* Цвет текста */
    margin-top: 0; /* Отступ сверху */
}

#container {
    width: 1000px; /* Ширина слоя */
    margin: 0 auto; /* Выравнивание по центру */
    background: linear-gradient(to top, white 5%, #d500ff 70%);/* Цвет фона левой колонки */
}

#header {
    font-size: 22px; /* Размер текста */
    text-align: center; /* Выравнивание по центру */
    padding: 15px; /* Отступы вокруг текста */
    background: linear-gradient(to right, #29eec5 20%,  #98eeb2 70%); /* Цвет фона шапки */
    color: black; /* Цвет текста */
}

#sidebar {
    margin-top: 10px;
    width: 120px; /* Ширина слоя */
    padding: 0 10px; /* Отступы вокруг текста */
    float: left; /* Обтекание по правому краю */
}

#sidebar a {
    color: #1C1C1C;
    text-decoration: none;
}

#sidebar a:hover {
    color: #828282;
}

#content {
    margin-left: 130px; /* Отступ слева */
    padding: 10px; /* Поля вокруг текста */
    background: linear-gradient(to right, white 10%, #ee221f 70%);/* Цвет фона правой колонки */
}

#footer {
    background: #DC6AA1; /* Цвет фона подвала */
    color: black; /* Цвет текста */
    padding: 5px; /* Отступы вокруг текста */
    clear: left; /* Отменяем действие float */
}

li {
    font: bold 18px Calibri;
}

img {
    height: 280px;
    width: 500px;
    border-radius: 20px;
    margin-left: 6%;
}