html {
    background-color: rgba(37, 30, 33, 0.16);
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    color: rgba(33, 37, 37, 0.69);
}

.pharaoh_contacts {
    position: absolute;
    width: 350px;
    height: 450px;
    left: 50%;
    top: 50%;
    margin-left: -190px;
    margin-top: -240px;
    background-color: lavender;
    border: solid 2px lightgray;
    padding: 10px;
}

.pharaoh_contacts .title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: rgba(54, 139, 89, 0.69);
}

.pharaoh_contacts .icon {
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px;
}

.pharaoh_contacts a {
    color: #1e10e2;
}

.fara_user {
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

.icon_marker {
    width: 30px;
    height: 30px;
}

.icon_phone {
    width: 25px;
    height: 25px;
}

.icon_message {
    width: 28px;
    height: 20px;
}