body {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    color: #2F4F4F;
    background-color: #F3CCA5;
    margin: 0; /* Убираем отступы */
}

h2 {
    font-size: 18px; /* Размер шрифта */
    color: #8E5215; /* Цвет текста */
    margin-bottom: 0; /* Отступ снизу */
}

#container {
    width: 800px; /* Ширина макета */
    margin: 0 auto; /* Выравниваем по центру */
}

#header {
    background-color: #D77D31; /* Цвет фона */
    font-size: 24pt; /* Размер текста */
    font-weight: bold; /* Жирное начертание */
    color: #edeed5; /* Цвет текста */
    padding: 5px; /* Отступы вокруг текста */
    text-align: center; /* Выравнивание по центру */
}

#content {
    margin-right: 160px; /* Отступ справа */
    padding: 10px; /* Поля вокруг текста */
    background: #fff; /* Цвет фона левой колонки */
}

#content p {
    margin-top: 0.3em /* Отступ сверху */
}

#sidebar {
    float: right; /* Обтекание по левому краю */
    width: 140px; /* Ширина правой колонки */
    padding: 10px; /* Отступы вокруг текста */
    background: #F1B379; /* Цвет фона */
}

#sidebar a {
    color: #75476e; /* Цвет ссылок */
    text-decoration: none;
}

#sidebar a:hover {
    color: #ee512e; /* Цвет ссылок */
}

#footer {
    background: #D77D31; /* Цвет фона */
    color: #edeed5; /* Цвет текста */
    padding: 5px; /* Отступы вокруг текста */
    margin-top: 15px; /* Отступ сверху */
}

img {
    height: 350px;
    width: 460px;
    border-radius: 20px;
    margin-left: 13%;
}