body {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    color: #2F4F4F;
    background-color: #BFBFF8;
    margin: 0; /* Убираем отступы */
}

h2 {
    font-size: 18px;
    color: #2626BA; /* Цвет текста */
    margin-bottom: 0; /* Отступ снизу */
}

#container {
    width: 800px; /* Ширина макета */
    margin: 0 auto; /* Выравниваем по центру */
    background-color: #7F7FF0;
}

#header {
    background-color: #2626BA; /* Цвет фона */
    font-size: 24pt; /* Размер текста */
    font-weight: bold; /* Жирное начертание */
    color: #edeed5; /* Цвет текста */
    padding: 5px; /* Отступы вокруг текста */
    text-align: center; /* Выравнивание по центру */
}

#content {
    float: left; /* Обтекание по правому краю */
    width: 620px; /* Ширина левой колонки */
    padding: 10px; /* Поля вокруг текста */
    background-color: #fff; /* Цвет фона левой колонки */
}

#content p {
    margin-top: 0.3em /* Отступ сверху */
}

#sidebar {
    float: left; /* Обтекание по правому краю */
    width: 120px; /* Ширина */
    padding: 10px; /* Отступы вокруг текста */
}

#sidebar a {
    color: #D0D0F5;
    text-decoration: none;
}

#sidebar a:hover {
    color: #AFAFE9;
}

#footer {
    background-color: #4A4ADE; /* Цвет фона */
    color: #edeed5; /* Цвет текста */
    padding: 5px; /* Отступы вокруг текста */
}

.clear {
    clear: both; /* Отмена обтекания */
}

img {
    height: 300px;
    width: 550px;
    border-radius: 20px;
    margin-left: 6%;
}