body {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    color: #2F4F4F;
    background-color: #DED3D3;
}

#container {
    width: 800px; /* Ширина макета */
    margin: 0 auto; /* Выравниваем по центру */
    background-color: #6C6565; /* Цвет колонок */
}

#header {
    background-color: black; /* Цвет фона */
    font-size: 24pt; /* Размер текста */
    font-weight: bold; /* Жирное начертание */
    color: #edeed5; /* Цвет текста */
    padding: 5px; /* Отступы вокруг текста */
    text-align: center; /* Выравнивание по центру */
}

#nav, #aside {
    float: left;
    width: 110px;
    padding: 5px;
    font-weight: bold;
}

#content {
    background-color: #DBE0D6;
    margin: 0 120px; /* Ширина колонок */
    padding: 10px;
}

#aside {
    float: right;
    color: #000;
}

#nav a {
    text-decoration: none;
    color: black;
}

#aside a {
    text-decoration: none;
    color: black;
}

#nav a:hover {
    color: #E1DBDB;
}

#aside a:hover {
    color: #E1DBDB;
}

#footer {
    clear: both; /* Отменяем действие float */
    padding: 5px; /* Отступы вокруг текста */
    background-color: black; /* Цвет фона подвала */
    color: #edeed5;;
}

img {
    height: 250px;
    width: 460px;
    border-radius: 30px;
    margin-left: 7.5%;
}