body {
    font-family: "PT Sans", sans-serif;
    font-size: 1em;
    color: darkblue;
    font-weight: 600;
    background: url(layout_7/bioshock_infinite.jpg) no-repeat;
    background-size: 100% 120%;
    margin: 0; /* Убираем отступы */
}

h1 {
    font-size: 36px; /* Размер шрифта */
    margin: 0; /* Убираем отступы */
    color: #F0FFFF; /* Цвет текста */
}

h2 {
    color: darkblue;
    margin-top: 0; /* Убираем отступ сверху */
}

#header { /* Верхний блок */
    background-color: #15BEF9; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
}

#sidebar { /* Левая колонка */
    float: left; /* Обтекание справа */
    width: 110px; /* Ширина колонки */
    padding: 5px; /* Поля вокруг текста */
    margin: 10px 10px 20px 5px; /* Значения отступов */
}

#sidebar a {
    color: darkblue; /* Цвет ссылок */
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

#sidebar a:hover {
    color: blue; /* Цвет ссылок */
}

#content { /* Правая колонка */
    margin: 10px 5px 60px 25%; /* Значения отступов */
    padding: 5px; /* Поля вокруг текста */
}

#footer {
    position: fixed; /* Фиксированное положение */
    left: 0;
    bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background-color: #15BEF9; /* Цвет фона */
    color: #F0FFFF; /* Цвет текста */
    width: 100%; /* Ширина слоя */
}