.back .back_pic, .back .picture1, .back .picture2, .back .picture3, .back .picture4, .back .picture5, .back .picture6 {
    width: 1280px;
    height: 946px;
    position: absolute;
}

.back .back_pic {
    background-image: url("Task1/0.png");
}

.back_pic .picture1 {
    background: url("Task1/1.png") no-repeat 0 556px;
}

.back_pic .picture2 {
    background: url("Task1/2.png") no-repeat 996px 350px;
}

.back_pic .picture3 {
    background: url("Task1/3.png") no-repeat 780px 366px;
}

.back_pic .picture4 {
    background: url("Task1/4.png") no-repeat 916px 566px;
}

.back_pic .picture5 {
    background: url("Task1/5.png") no-repeat 280px 300px;
}

.back_pic .picture6 {
    background: url("Task1/6.png") no-repeat 240px 176px;
}

/*1.2*/
.back_picture {
    background-image: url("Task1/0.png");
    width: 1280px;
    height: 946px;
}

.picture {
    height: 946px;
    background: url("Task1/1.png") no-repeat 0 556px,
    url("Task1/4.png") no-repeat 916px 566px,
    url("Task1/5.png") no-repeat 280px 300px,
    url("Task1/2.png") no-repeat 996px 350px,
    url("Task1/3.png") no-repeat 780px 366px,
    url("Task1/6.png") no-repeat 240px 176px;
}

/*2*/
.sprite div {
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url("Task2/white_sprait.png");
}

.block_1 {
    left: 0;
    top: 0;
    background-color: #CD0000;
    background-position: 0 0;
}

.block_2 {
    left: 100px;
    top: 0;
    background-color: #00B2EE;
    background-position: 400px 0;
}

.block_3 {
    left: 200px;
    top: 0;
    background-color: #FFA500;
    background-position: 300px 0;
}

.block_4 {
    left: 300px;
    top: 0;
    background-color: #0000FF;
    background-position: 200px 0;
}

.block_5 {
    left: 400px;
    top: 0;
    background-color: #FF7F00;
    background-position: 100px 0;
}

.block_6 {
    left: 500px;
    top: 0;
    background-color: #0000FF;
    background-position: 0 100px;
}

.block_7 {
    left: 600px;
    top: 0;
    background-color: #FFD700;
    background-position: 400px 100px;
}

.block_8 {
    left: 700px;
    top: 0;
    background-color: #CD0000;
    background-position: 300px 300px;
}

.block_9 {
    left: 800px;
    top: 0;
    background-color: #00B2EE;
    background-position: 200px 100px;
}

.block_10 {
    left: 900px;
    top: 0;
    background-color: #FFA500;
    background-position: 100px 100px;
}

/*3*/
table {
    background-color: whitesmoke;
    border: 2px solid lightgray;
    font-family: Calibri;
    font-size: 14px;
}

tr td:first-child {
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}

input[type="email"], input[type="text"] {
    background-color: #FFF68F;
    border: 2px solid #CDBE70;
    width: 185px;
    height: 20px;
}

input[type="password"] {
    background-color: #FFB5C5;
    border: 2px solid #C71585;
    width: 185px;
    height: 20px;
}

select {
    background-color: #8470FF;
    border: 2px solid #00008B;
    width: 190px;
    height: 25px;
}

textarea {
    background-color: #98FB98;
    border: 2px solid #008B00;
    width: 180px;
}

td input[type="submit"]:first-child {
    background-color: #98FB98;
    font-weight: bold;
}

td input[type="reset"] {
    background-color: #FA8072;
    font-weight: bold;
}
/*чекбокс*/

/*ховаємо оригінальний чекбокс*/
.checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}
.checkbox:not(checked) + label {
    position: relative; /* позиція відносно лейбел */
    padding: 0 0 0 60px; /* місце під чекбокс */
}
/* вимкнений чекбокс */
.checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
/* умівкнений чекбокс*/
.checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
/* зміна фону увімкненого чекбоксу*/
.checkbox:checked + label:before {
    background: #9FD468;
}
/* зсув перемикача */
.checkbox:checked + label:after {
    left: 26px;
}
/* показання отримання фокусу */
.checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}

/*радіобаттон*/
/*ховаємо радіобат. */
.radio:not(checked) {
    position: absolute;
    opacity: 0;
}
.radio:not(checked) + label {
    position: relative;
    padding: 0 0 0 35px;
}
/* вимкнений*/
.radio:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}
.radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #9FD468;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
    opacity: 0;
    transition: all .2s;
}
.radio:checked + label:after {
    opacity: 1;
}
.radio:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}

/*4*/
.navigation li a {
    border: 2px solid #B0C7D8;
    border-radius: 5px;
    color: #877160;
    text-decoration: none;
    position: absolute;
    padding: 10px;
}

.navigation li {
    list-style: none;
}

.navigation li:nth-child(1) a {
    left: 20px;
}

.navigation li:nth-child(2) a {
    left: 120px;
}

.navigation li:nth-child(3) a {
    left: 212px;
}

.navigation li:nth-child(4) a {
    left: 312px;
}

.navigation a:hover {
    background-color: #607788;
    color: white;
}

/*5*/
.body {
    width: 720px;
    height: 700px;
    margin: auto;
}

head {
    height: auto;
}

.head span::before {
    content: url("Task5/1.jpg");
    margin-right: 10px;
    position: relative;
    top: 10px;
}

.head span {
    vertical-align: center;
    font: bold 24px/34px Open Sans, sans-serif;
}

img {
    border-radius: 100%;
    margin: 20px 0;
    box-sizing: border-box;
}

.job-position {
    width: 200px;
    font-size: 0.9em;
    line-height: 1.5em;
    font-family: Open Sans, sans-serif;
    font-style: italic;
    text-align: center;
}

.main div.text {
    position: relative;
    font-family: Open Sans, sans-serif;
    line-height: 1.5em;
    font-size: 16px;
    font-style: italic;
    width: 60%;
    vertical-align: top;
    margin-top: 20px;
}

div .text .content {
    position: relative;
    margin-top: 1em;
}

div .row {
    margin-bottom: 1em;
}

div.main {
    display: table;
}

.text span {
    display: block;
    text-align: right;
    margin-top: 5px;
}

p {
    display: inline-block;
}

.col {
    display: table-cell;
}

.row {
    display: table-row;
}

.quotes::before {
    width: 20px;
    height: 20px;
    background: url("Task5/2.jpg") no-repeat;
}

.quotes span::after {
    width: 20px;
    height: 20px;
    background: url("Task5/3.jpg") no-repeat;
}

div.text.col .content::before {
    position: absolute;
    display: block;
    background-position: 0 0;
    content: ' ';
    left: -45px;
    top: -7px;
}

div.text.col .content span::after {
    position: absolute;
    display: block;
    background-position: -20px 0;
    content: ' ';
    right: -45px;
    bottom: -5px;
}