td>img{
   width: 80%;
}
.containerM table{
    background-color: #f9f9f9;
}
form *{
    margin-bottom: 15px;
}
form{
    padding: 10px;
    border: 2px solid #428bca;
}
.flex{
    display: flex;
}
label{
    font-size: 24px;
    font-weight: bold;
}
div.text{
    background-color: #428bca;
    color: white;
    padding: 5px;
}
@media (max-width: 1200px) {
    .containerM{
        max-width: 1160px;
    }
    .containerM .med1{
        flex-flow: column wrap;
    }
    .containerM .med1>div{
        margin-bottom: 10px;
        max-width: 100%;
        flex-basis: 200px;
    }
}
@media (max-width: 1060px){
    .containerM{
        max-width: 1020px;
        flex-flow: column wrap;
    }
    .col-6{
        max-width: 100%;
        justify-content: center;
        align-items: center;
        padding-right: 0;
    }
    .col-9{
        padding-right: 0;
    }
    .col-3{
        padding-right: 0;
    }
}
@media (max-width: 530px) {
    .containerM{
        min-width: 525px;
    }
}