/*1 та част. 2*/
p {
    color: green;
    text-align: center;
}
/**/
div:nth-child(2n) {
    background-color: red;
}
div:nth-child(3) {
    background-color: green;
}
div div:not([id = "3"]) {
    font-size: 20px;
}
.one,
.three {
    color: red;
}

#two {
    color: deeppink;
}

a[href^="https://webref.ru"] {
    color: red;
}

.general {
    color: green;
}

a {
    color: deeppink;
}

li > ul {
    list-style-type: none;
}

.last_m li {
    list-style-type: square;
}

.last_m a {
    text-decoration: none;
}

/*ост. част. 2*/
h1 + p {
    font-size: 20px;
}

h3 + p {
    color: red;
}

h3 ~ p {
    color: deeppink;
}

/*3*/
#my_list {
    width: 172px;
    color: white;
    background-color: green;
    padding: 0;
}

#my_list li > ul {
    width: 150px;
    color: black;
    background-color: orange;
    margin-bottom: 6px;
    padding-left: 10px;
}

#my_list > li {
    border: 1px solid white;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#my_list li ul li {
    padding-bottom: 7px;
    padding-top: 7px;
}

/*4*/
#population {
    width: 22%;
}

#population tr:nth-child(1) {
    background-color: blue;
    color: white;
    text-align: center;
}

#population tr:nth-child(2n) {
    background-color: lightgray;
}

#population tr:nth-child(11) {
    background-color: red;
    color: white;
}

/*5*/
#chess td {
    width: 35px;
    height: 35px;
}

#chess tr:nth-child(2n) td:nth-child(2n) {
    background: white;
}

#chess tr:nth-child(2n+1) td:nth-child(2n+1) {
    background: white;
}

#chess tr:nth-child(2n) td:nth-child(2n+1) {
    background: black;
}

#chess tr:nth-child(2n+1) td:nth-child(2n) {
    background: black;
}